<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type=text/html; charset=utf-8">
	<title>画像のアップロード</title>
</head>
<body>
	<form method="post" enctype="multipart/form-data" action="/upload_files">
	<input type="file" accept="image/*" name="imgfile" id="imgfile">
	<input type="submit" value="アップロード">
</body>
</html>
